#profile__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
.profile_cont {
  display: flex;
  justify-content: center;
}
.profile_wrap {
  text-align: center;
}
.img_wrap {
  position: relative;
}
.cam {
  background-color: red;
  position: absolute;
  right: 44%;
  bottom: 20px;
}
.share_icon {
  position: absolute;
  right: 400px;
}
#twitter {
  margin: 15px 0;
}
.profile_img_cont {
  height: 100%;
  width: 100%;
}
