#profile__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
.profile_cont {
  display: flex;
  justify-content: center;
}
.profile_wrap {
  text-align: center;
}
.cam {
  background-color: red;
  display: none;
  /* position: absolute; */
  /* right: 50px; */
  /* bottom: 0; */
}
.share_icon {
  position: absolute;
  right: 100px;
}
#twitter {
  margin: 15px 0;
}
