#profile__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
#profile__img:hover {
  opacity: 0.7;
}

.img_wrap:hover .cam {
  display: block;
}
.profile_cont {
  display: flex;
  justify-content: center;
}
.profile_wrap {
  text-align: center;
}
.img_wrap {
  position: relative;
}
.cam {
  background-color: transparent;
  position: absolute;
  right: 44%;
  bottom: 20px;
  display: none;
  transition: 1s;
}

.share_icon {
  position: absolute;
  right: 300px;
  cursor: pointer;
}
#twitter {
  margin: 15px 0;
}
