.social_section_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_section_wrapper {
  width: 8%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .social_section_wrapper {
    width: 17%;
  }
}
