.linkCont {
  height: 90px;
  background-color: #1018280d;
  margin: 20px;
  border-radius: 10px;
}
.linkCont:hover {
  background-color: #d0d5dd;
}
.linkCont:focus {
  background-color: #98a2b3;
}
.link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bold;
}
